body {
  font-family: "Nunito", sans-serif;
  background-image: url("./../images/backgroundTiling.png");
  margin: 0;
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -512px 0;
    }
  }

  background-position: 0px 0px;
  background-repeat: repeat;
  //animations
  animation: animatedBackground 6s linear infinite;
}

.logo {
  display: flex;
  justify-content: center;

  &__image {
    height: auto;
    max-width: 100%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  max-width: 352px;
  height: 160px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 89px;

  &__get-started {
    height: 44px;
    width: 352px;
    background-color: #4aa810;
    color: #e2f5d6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border: none;
    line-height: 22px;
    border-radius: 10px;
    box-shadow: 0px 3px #3e8c0d;
    cursor: pointer;
    letter-spacing: 1px;
    &:active {
      opacity: 1;
      box-shadow: none;
      margin: 3px 0px -3px 0px;
    }
    &:focus {
      outline: none;
    }
  }

  &__already-have-account {
    border: 2px solid #abb0ba;
    height: 44px;
    width: 352px;
    color: #4aa810;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0px 3px #8f96a3;
    cursor: pointer;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 1px;
    &:active {
      opacity: 1;
      box-shadow: none;
      margin: 3px 0px -3px 0px;
    }
    &:focus {
      outline: none;
    }
  }
}
