@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,700');

$color1: #f2f2f2;
$c2a-light: #2b2b2b;
$c2a-dark: #f2f2f2;

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	font-family: 'Roboto', sans-serif;
	color: #2b2b2b;
}

body {
	background-color: $color1;
}

.error {
	text-align: center;
	position: relative;
	top: 50%;
	// transform: translateY(-50%);

	h1 {
		font-weight: 700;
		font-size: 200px;
		margin: 0;
		padding: 0;
		padding-bottom: 40px;
	}

	p {
		font-weight: 100;
		font-size: 75px;
		margin: 0;
		padding: 0;
		padding-bottom: 10px;
	}

	.smaller {
		font-weight: 300;
		font-size: 20px;
		padding-bottom: 40px;
	}
}

.cta-button {
	font-weight: 300;
	display: inline-block;
	color: $c2a-light;
	padding: 20px;
	border: 2px solid $c2a-light;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	width: 300px;
	z-index: 1;

	&:after {
		position: absolute;
		transition: all 0.3s ease-in-out;
		content: '';
		width: 0;
		left: -10%;
		bottom: 0;
		height: 3px;
		background: $c2a-light;
		height: 120%;
		z-index: -1;
		transform: skewX(15deg);
	}

	&:hover {
		cursor: pointer;
		color: $c2a-dark;
		&:after {
			width: 120%;
			left: -10%;
		}
	}
}
