$background: #f5f7fa;
$white: #fff;
$grey: #434a54;
$grey-light: #656d78;
$border-radius: 4px;

*,
*:before,
*:after {
	box-sizing: border-box;
}

.pricing-plan-list {
	display: flex;
	margin: 10em 0 0 33em;
}

.pricing-plan {
	position: relative;
	width: 260px;
	padding: 40px 0;
	text-align: center;
	background-color: $white;
	box-shadow: 0px 1px 2px 0px rgba($grey, 0.2);
	border-radius: $border-radius;
	overflow: hidden;

	&:first-child {
		.pricing-plan__price {
			color: #65c163;
		}

		&:before {
			background-image: linear-gradient(90deg, #bede2f 0%, #30c85f 100%);
		}
	}

	&:nth-child(2) {
		.pricing-plan__price {
			color: #c1a03f;
		}

		&:before {
			background-image: linear-gradient(90deg, #b65d25 0%, #c1a03f 100%);
		}
	}

	&:last-child {
		.pricing-plan__price {
			color: #794eb1;
		}

		&:before {
			background-image: linear-gradient(90deg, #3e6dcc 0%, #9014e8 100%);
		}
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 6px;
	}
}

.pricing-plan--featured {
	z-index: 1;
	width: 330px;
	margin: -30px -20px;
	box-shadow: 0px 8px 25px 0px rgba($grey, 0.16);

	.pricing-plan__name {
		margin-top: 30px;
	}
}

.pricing-plan__name,
.pricing-plan__price {
	font-weight: 200;
}

.pricing-plan__name {
	font-size: 32px;
	margin: 0 0 25px 0;
}

.pricing-plan__price {
	font-size: 60px;
	margin: 0 0 5px 0;
}

.pricing-plan__disclosure {
	font-size: 12px;
	color: mix($grey, $white, 50%);
}

.pricing-plan__feature-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
	margin-top: 25px;
	line-height: 2.5;
	color: $grey-light;
}
