$purple: #5b4eff;
$darkpurple: #4037bd;
$lightgreen: #e2f5d6;
$green: #5aaf2b;
$darkgreen: #4a9123;
$white: #fff;
$offwhite: #f6f5ff;
$red: #f44336;
$links: #7cd147;
$primary-button: #4aa810;

$border-radius: 20px;
$form-border-radius: 10px;