.container-profile {
    margin: 2rem auto;
    padding: 50px;

    width: 1024px;
    height:auto;

    background-color:#fff;

    border-radius: 25px;

    h2 {
        color: #58AF23; 
        font-family: "Nunito", sans-serif; 
        font-weight: bold; 
        font-size: 2.4rem; 
    }
}