* {
  box-sizing: border-box;
}

a, a:hover {
  color: #33334d;
  text-decoration: none;
  font-weight: 600;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 65px;
  background: #5b4eff;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.5), 0 -5px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  min-width: 580px;
  display: flex;
  justify-content: space-between;
}

nav .nav-left {
  display: flex;
  height: 100%;
  width: 40%;
}

nav .logo {
  position: relative;
  float: left;
  top: 5px;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  color: #6ad132;
  font-size: 33px;
  font-weight: 900;
  /*text-transform: uppercase;*/
  font-family: 'Nunito', sans-serif;
}

nav .logo span {
  display: inline-block;
  position: relative;
  top: -8px;
  font-size: 18px;
}

nav .logo:hover {
  /* transform: scale(1.1, 1.1); */
  color: yellow;
}

nav .links {
  float: right;
  color: yellow;
  margin-right: 50px;
  position: relative;
}

nav .links li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
}

nav .links li>a {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  height: 30px;
  color: yellow;
}

nav .links li>a:hover {
  color: #fff;
  background: #33334d;
  border-radius: 2px;
}

nav .links li>a[class^="trigger-"] {
  padding-right: 40px;
  bottom: 7px;
}

nav .links li>a .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 35%;
  text-align: center;
  right: 10px;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3) transparent;
}

nav .links li>a .arrow:after {
  content: "";
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  top: -10px;
  left: -15px;
  position: absolute;
  height: 15px;
}

nav .links li ul {
  position: absolute;
  left: 0;
  margin: 0;
  background: #4a9123;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}

nav .links li ul>li {
  clear: both;
  list-style: none;
  display: block;
  padding: 0 10px;
  margin: 0;
  width: 100%;
}

nav .links li ul>li:hover {
  background: #9494b8;
}

nav .links li ul>li:hover>a {
  background: #9494b8;
  color: #fff;
}

nav .links li:hover>.drop {
  display: block;
  animation: fadeInRight .3s ease;
  -webkit-animation: fadeInRight .3s ease;
}