<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>web-design.html</title>
    <style>
        #container {
            height: 500px;
            width: 500px;

            background: red;
        }

        div {
            height: 100px;
            width: 100px;

        }

        #one {
            background: blue;
            border-radius: 25px;
        }

        #two {
            background: tomato;
            opacity: 50%;
        }

        #three {
            background: purple;
            transition: 5ms;
            transform: rotate(20deg);
        }
    </style>
</head>

<body>
    <section id="container">
        <div id="one"></div>
        <div id="two"></div>
        <div id="three"></div>
    </section>

</body>

</html>