.main {
	background-color: lightgrey;
	width: 100%;
	height: calc(100vh - 80px);
}

.page-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.page-wrapper > div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
