.contact__wrap {
    text-align: center;
    transform: translateY(50%);
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 56px;
    margin-bottom: 50px;
    color: #4037bd;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.contact__form input {
    height: 35px;
    border: 2px solid #4037bd;
    padding-left: 5px;
    margin-bottom: 10px;
    transition: .2s;
}

.contact__form input:hover {
    border: 2px solid #ff8080;
}

.contact__form input::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}

.contact__form textarea {
    height: 150px;
    border: 2px solid #631ebc;
    resize: none;
    padding-left: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.contact__form textarea::placeholder {
    text-transform: uppercase;
    font-size: 12px;
}

.contact__form textarea:hover {
    border: 2px solid #ff8080;
}

.contact__form input[type="submit"] {
    height: 40px;
    font-size: 14px;
    color: #fff;
    background: #631ebc;
    text-transform: uppercase;
    width: 50%;
    transition: .2s;
}

.contact__form input[type="submit"]:hover {
    font-size: 16px;
    border: 0;
}

*:focus {
    outline: #ff8080 auto 1px;
}

*/ .fa-instagram {
    position: absolute;
    bottom: 8%;
    right: 2%;
    font-size: 38px;
}

.fa-instagram:hover {
    font-size: 42px;
    color: #ff8080;
    transition: all .1s linear;
    cursor: pointer;
}