// .root {
//   flex-grow: 1;
//   margin-top: 3%;
//   font-family: "nunito", sans-serif;
// }
// .container {
//   display: flex;
//   padding: 0 3%;
// }
// .left {
//   width: 100%;
// }
// .leftContainerOne {
//   // height: 251px;
//   margin-right: 10%;
//   margin-bottom: 54px;
// }
// .leftContainerTwo {
//   // height: 159px;
//   margin-right: 10%;
//   margin-bottom: 54px;
// }
// .leftContainer {
//   height: 131px;
//   margin-right: 10%;
// }
// .header {
//   text-align: center;
//   color: #5b4eff;
//   font-size: 34px;
//   letter-spacing: 7px;
//   font-weight: 900;
//   text-transform: uppercase;
//   margin-bottom: 5%;
// }
// .sectionHeader {
//   font-weight: bold;
//   font-size: 21px;
//   padding-bottom: 21px;
// }
// .sectionHeaderRight {
//   font-weight: bold;
//   font-size: 21px;
//   padding-bottom: 18px;
// }
// .infoContainer {
//   display: flex;
//   margin-bottom: 20px;
// }
// .infoLabel {
//   font-size: 16px;
//   padding: 0;
// }
// .userInfo {
//   padding: 0;
// }
// .rightCards {
//   width: 60%;
// }
// .fireflyContainer {
//   display: flex;
//   text-align: center;
//   align-items: center;
//   flex-direction: column;
//   overflow-x: hidden;
//   overflow-y: scroll;
//   height: 366px;
//   width: 100%;
// }
// .profileCardContainer {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   text-align: center;
//   width: 100%;
// }
// .fireflyIcon {
//   width: 90%;
//   align-items: center;
//   justify-content: center;
// }
// img {
//   width: 45%;
// }
// .style1 {
//   border-top: 1px solid #b6e699;
//   width: 100%;
// }
// .edit {
//   width: 100%;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
// }
// .iconButton {
//   margin-left: 20%;
//   display: flex;
//   width: 40px;
//   height: 40px;
//   text-align: right;
//   align-items: center;
//   justify-content: center;
//   color: #4aa810;
//   font-weight: bold;
//   font-size: 18px;
//   border: 2px solid #abb0ba;
//   border-radius: 10px;
//   background-color: #ffffff;
//   box-shadow: 0px 3px #8f96a3;
// }
// .button {
//   display: block;
//   margin-top: 40px;
// }

// .research-section {
//   display: flex;
//   p {
//     padding-top: 5px;
//     font-size: 16px;
//   }
// }
.checkbox-label {
  //   display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
  height: 18px;
  width: 18px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #4aa810;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #4aa810;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #4aa810;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}
